{{ 'popup.css' | asset_url | stylesheet_tag }}

<script defer src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js" integrity="sha512-rozBdNtS7jw9BlC76YF1FQGjz17qQ0J/Vu9ZCFIW374sEy4EZRbRcUZa2RU/MZ90X2mnLU56F75VfdToGV0RiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="popupmodal" id="popupmodal" style="position: fixed;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <div class="mainBlock" id="mainModal">
        <div class="innerBlock1">
            <h2 id="productTitle" class="productTitle"></h2>
            <i class="fa fa-close" id="closeModal" style="font-size:36px"></i>

        </div>
        <div class="innerBlock4" id="innerBlock4">
            <div id="variantSelector"></div>
        </div>
        <div class="innerBlock2">
            <div>
                <span class="addToCartID visually-hidden" id="addToCartID"></span>
                <div class="prodImage">

                    <img id="productImage" src="" alt="product" loading="lazy" width="200" height="200"/>
                </div>
                <div class="prodData">
                    <div class="desc">

                        <h3 id="productDescription" class="productDescription"></h3>
                    </div>
                    {{ currency.name }}
                    <h1 id="productPrice" class="productPrice"></h1>
                </div>
            </div>
        </div>
        <div class="innerBlock3">
            <button class="addBtn button button--secondary" id="addBtn">Add To Cart</button>
            <button id="noThanks">No Thanks :(</button>
        </div>
    </div>
</div>

<script src="{{ 'popup.js' | asset_url }}" defer></script>
{% schema %}
{
        "name": "My Checkout Embed",
        "target": "body",
        "settings": [
            { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
        ]
      }
{% endschema %}
