.noOrders > svg {
    width: 10vmax;
    height: 10vmax;
    margin-bottom: 1rem;
    color: orange;
}
.noOrders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    flex-direction: column;
}
